<template>
  <div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <div id="google-signin-btn"></div>
    <a href="#" @click="signOut()">Sign out</a>
  </div>
</template>

<script>
export default {
  components: {},
  mounted() {
    // eslint-disable-next-line no-undef
    gapi.signin2.render('google-signin-btn', {
      // this is the button "id"
      onsuccess: this.onSignIn // note, no "()" here
    })
  },
  methods: {
    signIn() {},
    onSignIn(googleUser) {
      const profile = googleUser.getBasicProfile()
      console.log('ID: ' + profile.getId()) // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName())
      console.log('Image URL: ' + profile.getImageUrl())
      console.log('Email: ' + profile.getEmail()) // This is null if the 'email' scope is not present.
    },
    signOut() {
      // eslint-disable-next-line no-undef
      const auth2 = gapi.auth2.getAuthInstance()
      auth2.signOut().then(function() {
        console.log('User signed out.')
      })
    }
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
